* {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  gap: 12px;
}

.form-row label {
  min-width: 110px;
  color: #e0e0e0;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
}

.form-row input {
  flex: 1;
  background-color: #2c2c2e;
  color: #fff;
  padding: 8px 10px;
  border: 1px solid #444;
  border-radius: 6px;
  font-size: 14px;
  transition: border 0.2s ease;
}

.form-row input::placeholder {
  color: #888;
}

.form-row input:focus {
  border-color: #5e9cff;
  outline: none;
}

.form-row select {
  flex: 1;
  background-color: #2c2c2e;
  color: #fff;
  padding: 8px 10px;
  border: 1px solid #444;
  border-radius: 6px;
  font-size: 14px;
  transition: border 0.2s ease;
  appearance: none;
}

.form-row select:focus {
  border-color: #5e9cff;
  outline: none;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

.pixi-wrapper {
  width: 100%;
  max-width: 100vw;   /* не лізти за край */
  max-height: 100vh;  /* вписуватися у вікно */
  justify-content: center;
  align-items: center;
}

.pixi-wrapper canvas {
  width: 100%;
  height: auto; /* зберігати пропорцію */
  object-fit: contain;
}
